.home{
    display: grid;
    /* grid-template-columns: 50vw 40vw; */

}

.home-left{
    /* overflow-y:scroll; */
    position: absolute;
    left: 10%;
    /* z-index:2; */
}

.homeright .user-profile{
    /* position: fixed; */
    right: 1%;
}

.topuser{

}

.avatar1 {
    display: flex;
    justify-content: center;
}

.userinfo{
}

.svvg{
    vertical-align: middle;
}

.yprofile{
    text-align: center;
    box-shadow: 1px 1px 1px black;
}

/* .aba{
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
} */

.user-profile h5{
    /* text-align: center; */
}





