.login{
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.loginform{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
}

.inputt{
    margin-top: 20px !important;
}