body{
    font-family: 'Poppins', sans-serif;
    /* background-image: url('./components/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat repeat-y; */
    /* background-image: linear-gradient(to right bottom, #06327c, #d3d6dc, #ced1d6, #000000, #c4c6c9); */
}

.blur {
    position: fixed;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #a6ddf0;
    filter: blur(72px);
    z-index: -35;
  }

.aaa{
    margin-top: 30px;
}

.account{
    display: grid;
    grid-template-columns: 60vw 40vw;
    overflow-x: hidden;
    z-index: 0;
}

.account-left{
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
}

.account-right{
    background-color: turquoise;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    width: min-content;
    position: fixed;
    left: 0;
}

.followsection{
    display: flex;
    gap: 3vw;
}

.followsection div {
    align-items: center;
    text-align: center;
    padding: 0 !important;
}

.followsection button {
    background-color: transparent;
    border: none;
}

.loader{
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
}

.profile-main{
    display: grid;
    grid-template-columns: 30vw 60vw;
    gap: 5vw;
}

.user-profile{
    border: 1px solid black;
    position: fixed;
    margin-top: 10vh;
    padding: 30px 20px;
    border-radius: 10px ;
    margin-left: 40px;
}

.top-user{
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 9px;
}

.utop1{
    display: block;
    /* border: 1px solid grey; */
    /* margin-left: 0 !important; */
    /* align-items: flex-start; */
    /* align-items: center; */
}

.utop1 h6{
    margin-left: 0px;
    margin-top: -10px;
    font-weight: 500;
    font-size: 15px;
}

.utop1 h3{
    font-weight: 500;
    margin-top: -10px;

}

.followbutton{
    margin-top: -13px;
}

.udown{
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-top: 20px;
}

.udown div{
    align-items: center;
    text-align: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0.4px 1px 1px 1px grey;
    gap: 10vw;
    border-radius: 10px;
}

.udown div button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    margin-top: -10px;
}

.udown div button:hover{
    background-color: aliceblue;
}

.logout{
    text-align: center;
    margin-top: 20px;
}

.user-post{
    position: absolute;
    right: 10%;
}

@media screen and (max-width: 600px) {

    .home-left{
        /* position: relative !important; */
        left: 1% !important;
    }

    .homeright{
        display: none !important;
    }

    .profile-main{
        display:block;
        gap: 5vw;
    }
    
    .user-profile{
        border: 1px solid black;
        position: relative;
        margin-top: 10vh;
        padding: 30px 20px;
        border-radius: 10px ;
        margin-left: 0;
    }
    
    .top-user{
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 9px;
        margin-left: 30%;
    }
    
    .utop1{
        display: block;
        align-items: center;
    }
    
    .utop1 h3{
        font-weight: 500;
        margin-top: -10px;
    }
    
    .followbutton{
        margin-top: -13px;
    }
    
    .udown{
        display: flex;
        align-items: center;
        /* gap: 10vw; */
        justify-content: space-between;
        margin-top: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .udown div{
        align-items: center;
        text-align: center;
        padding: 10px;
        box-shadow: 0.4px 1px 1px 1px grey;
        gap: 10vw;
    }
    
    .udown div button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 20px;
        margin-top: -10px;
    }
    
    .udown div button:hover{
        background-color: aliceblue;
    }

    .searchlist a{
        padding: 0 !important;
        height: 40px;
        width: 50vw;
    }
    
    .searchlist a div{
        height: 20px;
        width: 20px;
    }

    .searchlist a div svg{
        height: 15px;
    }

    .username{
        font-size: 14px;
        font-weight: 500;
    }
    .user-post{
        position: relative;
        right: 0;
        width: 97vw;
    }

    .postimage{
        min-width: 95vw !important;
    }

    .home{
        display: block !important;
    }


    .accordion{
        position: absolute !important;
        right: 0%;
        top: 8%;
        margin: 0;
        width: max-content !important;
        background-color: transparent;
    }

    #panel2a-header{
        height: 30px;
    }

    .header{
        top:5%;
    }

    .appname{
        font-size: small;
        font-weight: 700px;
    }

    .navbuttons  svg{
        font-size: 25px !important;
    }

    .explore{
        padding: 0 !important;
        margin-top: 20% !important;
        /* position: absolute;
        left: 0%;
        top: 15%; */
        margin-left:0vw !important;
    }

    .post{
        width: 95vw !important;
    }

    .explorepage{
        display: block !important;
        margin-top: 40px;
    }

    .explorepage .post{
        min-width: 95vw !important;
    }



    .searchuser{
        width: 100vw;
    }

    .searchbar{
        width: max-content !important;
    }

    .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
        border: none !important;
    }

    .searchbutton{
        width: 30px !important;
    }

    .searchlist{
        position: relative !important;
        height: 200px !important;
        width: 100vw !important;
    }

}

.searchbar > .css-1rwt2y5-MuiButtonBase-root-MuiButton-root{
    border: none !important;
}

.createpost{
    text-align: center;
    width: 40vw;
    box-shadow: 1px 1px 2px grey;
    position: absolute;
    top: 20%;
    left: 20%;
    border: 1px solid grey;
    padding: 20px 30px;
}

.newpost h3 {
    margin-top: 10px;
}

.imageselector{
    width: 200px;
	height: 40px;
    border: 1px solid grey;
	opacity: 0;
	overflow:hidden;
	position: absolute;
	z-index: 5;
    margin-left: -100px;
    text-align: center;
    cursor: pointer;
}

.captionn{
    outline: none;
    width: 20vw;
    height: 30px;
}


.DialogBox{
    padding: 20px 30px;
}

.dialog{
    align-items: center;
}

.dialog:hover{
    border: 1px solid grey;
}

.explore{
    padding: 0 3vw;
    margin-left: 25vw;
    position: relative;
}

.explorepage{
    display: grid;
    grid-template-columns: auto auto auto ;
    column-gap:2vw;
    row-gap: 10px;
    margin-top: -30px;
}

.explorepage .post{
    max-width: 20vw !important;
}

.explorepage .postimage{
    width: 20vw;
}



.explorepost{
    width: 20%;
    height: auto !important;
}

.searchuser{
    width: 20vw;
    position: sticky;
    top: 40px;
}



::-webkit-scrollbar{
    width: 5px;
}



::-webkit-scrollbar-thumb {
        background: #888;
}


.searchbar{
    padding: 4px 4px;
    display: flex;
    width: fit-content;
    box-shadow: 1px 1px 2px black;
}



.searchlist{
    /* border: 1px solid grey; */
    width: 18vw;
    height: 400px ;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 20%;
}

.searchlist a {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

.searchbutton{
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0 !important;
    width: 20px;
}


.searchlist a:hover{
    background-color: #F8EDE3;
    transition: 0.5s;
    color: #1C315E;
    margin-left: 2px;
}

.time{
    font-size: 10px;
    margin-top: -20px;
    color: rgb(27, 20, 20);
}

.utop1 h6 {
    margin-top: -30px;
}

.prof{
    font-weight: 400;
    margin-top: -10px;

}